@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Rubik:500&display=swap');

body {
  background: #fbf6f3;
  color: #2b2b2b;
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

header {
  background: #1c4670;
}

#header-container {
  margin: auto;
  max-width: 1080px;
  padding: 4rem 2rem;
  text-align: right;
}

.nav__item {
  color: #fff;
  font-size: .75em;
  letter-spacing: .1em;
  padding: 1em 2em;
  transition: .2s;
}

.nav__item:hover {
  color: #1dc690;
}

section {
  margin: auto;
}

footer {
  font-size: .875em;
  margin: auto;
  max-width: 1080px;
  padding: 4rem 2rem;
  text-align: center;
}

.bg-color {
  background: #1c4670;
}

.full-width {
  max-width: 1080px;
  padding: 0 2rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  animation: fade-in 1s;
}

.highlight {
  color: #1dc690;
  font-weight: 700;
}

@media (max-width: 576px) {
  #header-container {
    padding: 4rem 1rem;
  }
  
  footer {
    padding: 4rem 1rem;
  }
  
  .full-width {
    padding: 0 1rem;
  }
}

/* ----- HOME ----- */

#intro-container {
  padding: 2rem 0 12rem;
}

#intro h1 {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 3.375em;
  line-height: 1.8;
}

#intro h2 {
  color: #ffffffe6;
  font-size: 1.5em;
  line-height: 1;
}

#card-container {
  display: grid;
  grid: auto-flow / repeat(4, 1fr);
  grid-gap: 0 5%;
  margin: -6rem auto 2rem;
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 #0003;
  overflow: hidden;
  transition: .2s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #0003;
  transform: translateY(-1rem);
}

.card img {
  background: #eee;
  width: 100%;
}

.card__body {
  display: flex;
  flex-flow: column;
  padding: 1rem;
}

.card h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.75em;
  line-height: 1;
}

.card h4 {
  color: #767676;
  font-size: .875em;
  line-height: 1.6;
}

.card p {
  font-size: .875em;
  line-height: 1.6;
  margin: .5rem 0 1rem;
}

.card__button {
  align-self: flex-end;
  border: 1px solid #1c4670;
  border-radius: 1em;
  color: #1c4670;
  font-size: .875em;
  padding: .5em 1em;
  transition: .2s;
}

.card:hover .card__button {
  background: #1dc690;
  border: 1px solid #1dc690;
  color: #fff;
}

.card:hover .card__button--disabled {
  background: #1c4670;
  border: 1px solid #1c4670;
}

@media (max-width: 992px) {
  #card-container {
    grid: auto-flow / repeat(2, 1fr);
    grid-gap: 4rem 5%;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px 0 #0003;
    transform: none;
  }
  
  .card__button {
    background: #1dc690;
    border: 1px solid #1dc690;
    color: #fff;
  }
  
  .card__button--disabled {
    background: #1c4670;
    border: 1px solid #1c4670;
  }
}

@media (max-width: 576px) {
  #intro h1 {
    font-size: 2.875em;
  }
  
  #intro h2 {
    font-size: 1.25em;
  }
  
  #card-container {
    grid: none;
  }
}

/* ----- ABOUT ----- */

#profile-container {
  padding: 2rem 0 6rem;
}

#profile {
  display: grid;
  grid: auto-flow / repeat(2, 1fr);
  grid-gap: 0 5%;
  place-items: center;
}

#profile img {
  border-radius: 50%;
  width: 80%;
}

#profile__body {
  margin: 0 4rem 0 0;
}

#profile h2 {
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

#profile p {
  color: #ffffffe6;
}

.tooltip {
  border-bottom: 1px dotted #fff;
  cursor: help;
  position: relative;
}

.tooltip-text {
  background: #000;
  border-radius: 8px;
  bottom: 150%;
  left: 30%;
  margin-left: -60px;
  opacity: 0;
  padding: .5em;
  position: absolute;
  text-align: center;
  transition: opacity .2s;
  visibility: hidden;
  width: 120px;
}

.tooltip-text::after {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: '';
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

#connect-container {
  margin: 2rem 0 0;
}

.connect {
  margin: 1rem;
}

.connect:first-child {
  margin: 1rem 1rem 1rem 0;
}

.connect:last-child {
  margin: 1rem 0 1rem 1rem;
}

.connect__icon {
  fill: #ffffffe6;
  height: 2rem;
  transition: .2s;
}

.connect:hover .connect__icon {
  fill: #1dc690;
}

@media (max-width: 768px) {
  #profile {
    grid: none;
    grid-gap: 4rem;
  }
  
  #profile img {
    width: 100%;
  }
  
  #profile__body {
    margin: 0;
  }
  
  #connect-container {
    margin: 4rem 0 0;
    text-align: center;
  }
  
  .connect {
    margin: 2rem;
  }
}

/* ----- PROJECT ----- */

h2 {
  font: 1.5em/1.8 'Rubik', sans-serif;
}

h3 {
  font: 700 1.125em/1.8 'Lato', sans-serif;
}

#project-container {
  padding: 2rem 0;
}

#project {
  text-align: center;
}

.project__header {
  color: #fff;
  font: 4em 'Rubik', sans-serif;
}

.project__subheader {
  color: #ffffffe6;
  font: 1.25em 'Lato', sans-serif;
  margin: 1em 0;
}

.badge {
  width: 200px;
}

.bg-warsound {
  color: #34515e;
}